Repository cchanging/asterinas, changes with the owners that CODEOWNERS names for each.
All owners: @tatetian, @StevenJiang1110, @lrh2000, @lucassong-mh, @cchanging, @junyang-zh, @cqs21, @sdww0, @grief8

Add a draft user_frame api
  kernel/src/vm/mod.rs
  kernel/src/vm/user_frame.rs
Owners: @cchanging, @junyang-zh

Refactor framebuffer
  Cargo.lock
  kernel/Cargo.toml
  kernel/comps/framebuffer/Cargo.toml
  kernel/comps/framebuffer/src/console.rs
  kernel/comps/framebuffer/src/framebuffer.rs
  kernel/comps/framebuffer/src/lib.rs
  kernel/comps/framebuffer/src/pixel.rs
  kernel/src/driver/mod.rs
  kernel/src/lib.rs
  tools/qemu_args.sh
Owners: @tatetian, @StevenJiang1110, @lrh2000, @grief8

Add the default mark type for LockedXArray
  kernel/libs/xarray/src/lib.rs
Owners: @StevenJiang1110, @lrh2000

Update the English README with the USENIX acceptance news
  README.md
Owners: @tatetian

Rename `systree` to `aster-systree`
  Cargo.lock
  Components.toml
  kernel/Cargo.toml
  kernel/comps/systree/Cargo.toml
  kernel/comps/virtio/Cargo.toml
  kernel/src/error.rs
  kernel/src/fs/sysfs/fs.rs
  kernel/src/fs/sysfs/inode.rs
  kernel/src/fs/sysfs/mod.rs
  kernel/src/fs/sysfs/test.rs
Owners: @tatetian, @StevenJiang1110, @lrh2000, @sdww0, @lucassong-mh

Replace the original XArray with RCU-based XArray
  Cargo.lock
  ostd/Cargo.toml
  ostd/src/collections/mod.rs
  ostd/src/collections/xarray.rs
  ostd/src/lib.rs
  ostd/src/mm/frame/test.rs
  ostd/src/mm/frame/untyped.rs
Owners: @tatetian

Fail the CI if workspace lints are not enabled
  Makefile
  kernel/comps/systree/Cargo.toml
Owners: @junyang-zh, @StevenJiang1110, @lrh2000

Modify VMO usages and fix the atomic-mode issue during handling page fault
  kernel/src/process/program_loader/elf/load_elf.rs
  kernel/src/vdso.rs
  kernel/src/vm/vmar/vm_mapping.rs
Owners: @StevenJiang1110, @lrh2000, @cchanging, @junyang-zh

Move `tdx_guest::unprotect_gpa_range` into IoMem creation
  ostd/src/bus/pci/capability/msix.rs
  ostd/src/io/io_mem/mod.rs
Owners: @tatetian

Refactor the APIs of VMO based on the new XArray
  kernel/src/vm/vmo/dyn_cap.rs
  kernel/src/vm/vmo/mod.rs
  kernel/src/vm/vmo/options.rs
  kernel/src/vm/vmo/static_cap.rs
Owners: @cchanging, @junyang-zh

CODEOWNERS:

# This file defines the code owners of the Astros main repo
#
# Feel free to volunteer as a code owner
# when you have contributed enough to and acquired enough knowledge
# of a specific sub-project/sub-system/component/module.

#=============================================================================
# The root code owners (maintainers)
#=============================================================================
* @tatetian

# The top-level sub-projects of Astros are listed below:
#
# 1. The Astros book
# 2. The Astros kernel
# 3. The Astros KSDK
# 4. The Astros KSTD
#
# Guidelines:
# - The following sections are organized by sub-projects.
# - In a sub-project, the rules are listed in alphabetical order
#   based on their file paths.
# - In each rule under a sub-project,
#   the code owners are listed in alphabetical order.

#=============================================================================
# The Astros book
#=============================================================================

/book/                          @tatetian

#=============================================================================
# The Astros kernel
#=============================================================================

# Sub-project code owners
/kernel/                        @StevenJiang1110 @lrh2000

# Sub-system code owners
/kernel/src/fs/                 @lucassong-mh
/kernel/src/net/                @StevenJiang1110 @lrh2000
/kernel/src/time/               @cchanging
/kernel/src/vm/                 @cchanging @junyang-zh

# Component code owners
/kernel/comps/block/            @lucassong-mh
/kernel/comps/logger/           @cchanging
/kernel/comps/mlsdisk/          @cqs21 @lucassong-mh
/kernel/comps/network/          @StevenJiang1110 @lrh2000
/kernel/comps/softirq/          @cchanging
/kernel/comps/time/             @cchanging
/kernel/comps/virtio/           @sdww0

#=============================================================================
# The Astros KSDK
#=============================================================================

# Sub-project code owners
/ksdk/                          @StevenJiang1110 @junyang-zh

#=============================================================================
# The Astros KSTD
#=============================================================================

# Sub-project code owners
/kstd/                          @lrh2000 @junyang-zh @sdww0

# Module code owners
/kstd/src/bus/                  @sdww0
/kstd/src/logger.rs             @cchanging
/kstd/src/timer/                @cchanging

#=============================================================================
# Other
#=============================================================================

/.github/                       @grief8
/ksdk/tools/docker/             @grief8
/test/                          @grief8
/tools/                         @grief8
/triagebot.toml                 @grief8

/Makefile                       @junyang-zh
/KSDK.toml                      @junyang-zh

# The following critical files are singled out
/CODEOWNERS                     @tatetian
/VERSION                        @tatetian
